<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script crossorigin="anonymous" integrity="sha384-fJU6sGmyn07b+uD1nMk7/iSb4yvaowcueiQhfVgQuD98rfva8mcr1eSvjchfpMrH" src="https://lib.baomitu.com/jquery/3.3.1/jquery.js"></script>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <% for(var key in list){ %>
        <li>
            <img src="/uploads/<%= list[key]['filename'] %>" style="width: 100px">
            <strong><%= list[key]['name'] %></strong>
            <span><%= list[key]['age'] %></span>
        </li>
        <% } %>
    </ul>
    <form action="/learn/submit" method="post" enctype="multipart/form-data">
        <ul>
            <li>
                <label>姓名</label>
                <input type="text" name="name">
            </li>
            <li>
                <label>年龄</label>
                <input type="text" name="age">
            </li>
            <li>
                <label>文件</label>
                <input type="file" name="file">
            </li>
        </ul>
        <button>提交</button>
    </form>
    <script>

    </script>
</body>
</html>
